form > * {
  margin-bottom: 0.5em;
}

form > *:last-child {
  margin-bottom: 0;
}

label {
  font-weight: 600;
  display: block;
  padding: 0.25em 0;
  font-size: 14px;
}

input, textarea {
  font-family: inherit;
  background-color: #e8e8e8;
  border: none;
  padding: 0.5em 0.75em;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 100%;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

input[type=radio] {
  accent-color: var(--primary-color);
  width: auto;
}

textarea {
  resize: none;
}